@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
   --font-color: #211F54;


}

*{
   font-family: 'Roboto', sans-serif;
   padding: 0;
   margin: 0; 
   box-sizing: border-box;
}

li {
   list-style: none;
}

a {
   text-decoration: none;
   color: unset;
}

.btn {
   text-align: center;
   background: #0075FF;
   border-radius: 14px;
   color: white;
   width: fit-content;
   height: fit-content;
   cursor: pointer;
   transition: 0.4s;
}

.btn:hover{
   background-color: #000084;
}

.btn__white {
   text-align: center; 
   box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.04);
   border-radius: 14px;
   width: fit-content;
   height: fit-content;  
   cursor: pointer; 
   background-color: #fef9f5fb;
}

.btn__white:hover{
   background-color: #ede9e5bb;
}


body {
   color: var(--font-color);

}

.wrapper {
   max-width: 1280px;
   margin: 0 auto;
   padding: 0 15px;
}

header {
   padding: 32px 0;

}

.header__block {
   justify-content: space-between;


}



.header__link {
   color: var(--font-color);


}
.header__left {
   gap: 40px;

}

.header__left, .header__nav, .header__block, .header__right {
   display: flex;
   align-items: center;
   
}


.header__nav {
   gap: 20px;


}


.header__btn {
   padding: 18px 24px;
   
}

.header__right {
   gap: 24px;

}

section {
   padding: 230px 0;
}

.welcome {   
   background: url("img/Group.jpg") no-repeat;
   background-size: 40%;
   background-position-x: right;
   
}

.welcome__title {
   font-size: 68px;
   line-height: 74px;
   

}

.welcome__block {
   max-width: 691px;
   

}

.welcome__text {
   font-size: 21px;
   line-height: 30px;
   color: #6E7191;
   margin: 28px 0 ;

}
.welcome__buttons, .covid__buttons {
   display: flex;
   justify-content: space-between;
   align-items: center;

}

.welcome__phone, .covid__phone {
   display: flex;
   align-items: center;
   gap: 16px;


}

.welcome__btn, .covid__btn {
   font-size: 18px;
   padding: 18px 36px;


}
.welcome__phone_block h2, .covid__phone_block h2 {
   font-size: 30px;   
}

.welcome__phone_block p, .covid__phone_block p {
   font-size: 16px;
   text-transform: uppercase;
   margin-bottom: 4px;
}

.services__text {
   display: flex;
   align-items: center;
   text-align: center;
   flex-direction: column;
}
.services  {   
   border-bottom: 1px solid  #DCDDEB;
}

.services__text p {
   max-width: 648px;
   font-size: 21px;
   line-height: 30px;
   color: #6E7191;
}

.services__text h1 {
  font-size: 48px;
  max-width: fit-content;
}

.services__item {
   max-width: 412px;
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 16px;
   text-align: center;
}
.services__item h2 {
   font-size: 28px;   
}

.services__item p {
   font-size: 21px;
   line-height: 30px;
   color: #6E7191;
}
.services__items {
   display: flex;
   justify-content: space-between;
   margin-top: 67px;
}
.services__buttons {
   display: flex;
   justify-content: center;
   gap: 28px;
   margin-top: 57px;
}
.services__buttons div {
  padding: 26px 38px;
}

.covid__text {
   display: flex;
   flex-direction: column;
   gap: 17px;
}

.covid__block {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   background: #211F54;
   border-radius: 24px;
   padding-right: 74px;
   padding: 137px 74px;
   color: white;   
   background: url("img/covid.svg") no-repeat #211F54;
   

}

.covid__content {
   max-width: 556px;
}

.covid__content h4 {
   font-size: 16px;
   letter-spacing: 1.6px;
   text-transform: uppercase;   
}

.covid__content h1 {
   font-size: 48px;
   line-height: 58px;
}

.covid__text p {
   font-size: 21px;
   line-height: 30px;  
   max-width: 474px;
   margin-bottom: 12px;
}
.covid__btn {

   padding: 26px 38px;
}