@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
   --font-color: #211F54;


}

*{
   font-family: 'Roboto', sans-serif;
   padding: 0;
   margin: 0; 
   box-sizing: border-box;
}

li {
   list-style: none;
}

a {
   text-decoration: none;
   color: unset;
}

.btn {
   text-align: center;
   background: #0075FF;
   border-radius: 14px;
   color: white;
   width: fit-content;
   height: fit-content;
   cursor: pointer;
   transition: 0.4s;
}

.btn:hover{
   background-color: #000084;
}

.btn__white {
   text-align: center; 
   box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.04);
   border-radius: 14px;
   width: fit-content;
   height: fit-content;  
   cursor: pointer; 
   background-color: #fef9f5fb;
}

.btn__white:hover{
   background-color: #ede9e5bb;
}


body {
   color: var(--font-color);

}

.wrapper {
   max-width: 1280px;
   margin: 0 auto;
   padding: 0 15px;
}

header {
   padding: 32px 0;

}

.header__block {
   justify-content: space-between;
}



.header__link {
   color: var(--font-color);
}

.header__left {
   gap: 40px;
}

.header__left, .header__nav, .header__block, .header__right {
   display: flex;
   align-items: center;   
}


.header__nav {
   gap: 20px;
}


.header__btn {
   padding: 18px 24px;   
}

.header__right {
   gap: 24px;
}

section {
   padding: 230px 0;
}

.welcome {   
   background: url("img/Group.jpg") no-repeat;
   background-size: 40%;
   background-position-x: right;   
}

.welcome__title {
   font-size: 68px;
   line-height: 74px; 
}

.welcome__block {
   max-width: 691px;
}

.welcome__text {
   font-size: 21px;
   line-height: 30px;
   color: #6E7191;
   margin: 28px 0;
}
.welcome__buttons, .covid__buttons {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.welcome__phone, .covid__phone {
   display: flex;
   align-items: center;
   gap: 16px;
}

.welcome__btn, .covid__btn, .cleaning__btn, .quote__btn {
   font-size: 18px;
   padding: 18px 36px;
}
.welcome__phone_block h2, .covid__phone_block h2 {
   font-size: 30px;   
}

.welcome__phone_block p, .covid__phone_block p {
   font-size: 16px;
   text-transform: uppercase;
   margin-bottom: 4px;
}

.services__text {
   display: flex;
   align-items: center;
   text-align: center;
   flex-direction: column;
}

.services  {   
   border-bottom: 1px solid  #DCDDEB;
}

.services__text p {
   max-width: 648px;
   font-size: 21px;
   line-height: 30px;
   color: #6E7191;
}

.services__text h1 {
  font-size: 48px;
  max-width: fit-content;
}

.services__item {
   max-width: 412px;
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 16px;
   text-align: center;
}
.services__item h2 {
   font-size: 28px;   
}

.services__item p {
   font-size: 21px;
   line-height: 30px;
   color: #6E7191;
}

.services__items {
   display: flex;
   justify-content: space-between;
   margin-top: 67px;
}

.services__buttons {
   display: flex;
   justify-content: center;
   gap: 28px;
   margin-top: 57px;
}

.services__buttons div, .articles__buttons div{
  padding: 20px 38px;
}

.covid__text {
   display: flex;
   flex-direction: column;
   gap: 17px;
}

.covid__block {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   background: #211F54;
   border-radius: 24px;
   padding-right: 74px;
   padding: 137px 74px;
   color: white;   
   background: url("img/covid.svg") no-repeat #211F54;
}

.covid__content {
   max-width: 556px;
}

.covid__content h4 {
   font-size: 16px;
   letter-spacing: 1.6px;
   text-transform: uppercase;   
}

.covid__content h1 {
   font-size: 48px;
   line-height: 58px;
}

.covid__text p {
   font-size: 21px;
   line-height: 30px;  
   max-width: 474px;
   margin-bottom: 12px;
}

.covid__btn {
   padding: 26px 38px;
}

.professional__services {
   display: flex;   
   text-align: center;
   justify-content: space-between;
   align-items: center;
}

.professional__services h2 {
   font-size: 48px;
   line-height: 58px;
   max-width: 474px;
   text-align: left;
}

.cleaning__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 388px;
  height: 494px;
  padding: 40px;
  text-align: center;
  justify-content: space-between;
  border: 1px solid #EFF0F6;
  box-shadow: 0px 2px 6px rgba(20, 20, 43, 0.04);
  border-radius: 16px;


}

.cleaning__item img {
   width: 230px;
}

.cleaning__btn {
   margin: 28px 24px ;
}

.cleaning__services {
   margin-top: 62px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.cleaning__services h3 {
   margin-bottom: 16px;

}
.cleaning__item p {
   font-size: 21px;
   line-height: 30px;
   color: #6E7191;
}

.call__image {

   transition: 0.5s transform;   
}

.call__image:hover {

   transform: scale(1.2);
}

.cover-area__item {
   max-width: 147px;
   gap: 24px;
   display: flex;
   align-items: center;

}
.cover-area__item h5 {
   font-size: 18px   
}

.cover-area__content {
   max-width: 496px;
   display: flex;
   flex-direction: column;
   gap: 22px;
}

.cover-area__content p {
   font-size: 18px;
   line-height: 30px;
   color: #6E7191;
   
}

.cover-area__content h2 {
   font-size: 48px;
   line-height: 58px;
}

.cover-area__lists {
   display: flex;
   gap:56px;
   
}
.cover-area__list {
   display: flex;
   flex-direction: column;
   gap: 24px;
}
.cover-area__block {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.different__block {

   display: flex;
   justify-content: space-between;
}

.different__content {
   max-width: 496px;
   display: flex;
   flex-direction: column;
   gap: 22px;
}

.different__content h2 {
   font-size: 48px;
   line-height: 58px;
}

.different__content p {
   font-size: 18px;
   line-height: 30px;
   color: #6E7191;
}

.litle {
   font-size: 12px;
   line-height: 30px;
}

.articles__body {   
   display: flex;
   justify-content: space-between; 
}

.different_items {
   display: flex;
   gap: 58px;
}

.different_item h2 {
   font-size: 54px;
   color: #211F54;
}

.different_item span {
   font-weight: 400;
   color: #0075FF;
}

.different_item h4 {
   font-size: 18px;
   color: #6E7191;
}

.articles__text {
   max-width: 447px;
}

.articles__text h2 {
   font-size: 48px;
   margin-bottom: 5px;
}

.articles__text p {
   font-size: 21px;
   line-height: 30px;
   color: #6E7191;
}

.articles__header {
   display: flex;
   justify-content: space-between; 
   align-items: center;
}

.articles__buttons {
   display: flex;
   justify-content: center;
   gap: 28px;   
}

.body__text {
   padding: 50px;
   background-color: white;
   max-width: 536px;
   border: 1px solid #EFF0F6;
   box-shadow: 0px 2px 6px rgba(20, 20, 43, 0.04);
   border-radius: 24px;
}

.body__text h5{
   font-size: 24px;
   line-height: 34px;   
   color: #211F54;
}

.body__text p {
   font-size: 21px;
   line-height: 30px;
   color: #6E7191;
   margin-top: 17px;
   margin-bottom: 6px;
}

.body_text__wrapper {
   display: flex;
   justify-content: center;
   position: absolute;   
   width: 100%;
   top: calc(100% - 52px)
}

.body__right, .body__left {
   position: relative;
}

.text_up_up {
   padding-bottom: 51px;
   border-bottom: 1px solid #DCDDEB ;
}

.quote__text_down {
   margin-top: 55px;
}

.quote__text_down h4 {
   font-size: 28px;
}

.quote__text_up h2{
   font-size: 48px;
   line-height: 58px;
   color: #211F54;
}

.quote__text_up p{
   font-size: 21px;
   line-height: 30px;
   color: #6E7191;
   margin-top: 8px;
   margin-bottom: 11px;
}

.quote__text_up {
   max-width: 487px;
}

.quote__form {
   padding: 85px 61px;
   max-width: 673px;
   background: #FFFFFF;
   border: 1px solid #EFF0F6;
   box-shadow: 0px 2px 6px rgba(20, 20, 43, 0.04);
   border-radius: 16px;
}

.quote__block {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.registration__block {

   display: flex;
   gap: 32px;

}

.registration__block input, textarea  {
   padding: 17px;
   font-size: 18px;
   border: 1px solid #EFF0F6;
   box-shadow: 0px 2px 12px rgba(20, 20, 43, 0.08);
   border-radius: 16px;
   resize: none;
}

.quote__form_registration h6 {
   font-size: 18px;
   color: #211F54;
   font-weight: 400;
   margin-bottom: 12px;

}
.quote__form_registration {
   display: flex;
   flex-direction: column;
   gap: 32px;
}

.registration__add, textarea{
   width: 100%;   
}

textarea {

   height: 144px;
}
button {
   outline: none;
   border: none;
}
